* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	background-color: hsla(0, 0%, 81%, 0.24);
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-size: 13px;
}

.notification-container {
	display: flex;
	flex-direction: column;
	width: 42rem;
	height: 47rem;
	padding: 2rem;
	background-color: white;
	border-radius: 20px;
}

.notification-head {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.notification-head_counter {
	width: 30px;
	height: 25px;
	margin-left: 1rem;
	line-height: 25px;
	text-align: center;
	border-radius: 5px;
	color: white;
	background-color: hsl(219, 85%, 26%);
	font-size: 14px;
}

.notification-info {
	display: flex;
	align-items: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
	font-size: 15px;
}

.notification-photo {
	width: 40px;
	height: 40px;
	margin-right: 1rem;
}

.notifaction-read {
	background-color: hsl(210, 60%, 98%);
	height: 4.4rem;
	border-radius: 5px;
}

.notification-head_container {
	display: flex;
	align-items: center;
}

.notification-head_mark {
	font-size: 16px;
	color: hsl(219, 12%, 42%);
}

.notification {
	position: relative;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: hsl(219, 14%, 63%);
}

.notification-name {
	font-weight: 800;
	color: black;
	margin-right: 0.3rem;
}

.notification-name_bold {
	font-weight: 800;
	color: hsl(219, 12%, 42%);
	margin-left: 0.3rem;
}
.red-dot::after {
	top: 7px;
	right: -13px;
	position: absolute;
	content: '';
	background-color: red;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.notification-person_text {
	width: 32.3rem;
	padding: 1rem;
	margin-top: 1rem;
	border: 1px solid rgb(206, 206, 206);
	border-radius: 5px;
	color: hsl(219, 12%, 42%);
}

.notification-message {
	height: 100%;
}

.photo {
	margin-bottom: auto;
}

.notification-name_chess {
	font-weight: 800;
	color: hsl(219, 85%, 26%);
	margin-left: 0.3rem;
}

.image-chess {
	width: 40px;
	height: 40px;
	margin-left: auto;
}

.notification-person_time {
	margin-top: 4px;
}